<STYLE TYPE-"type/css">

<!--
    BODY 
    {
        scrollbar-base-color: black; 
        scrollbar-arrow-color: yellow;
        scrollbar-DarkShadow-Color: yellow;
    }
    P{color: yellow}
    UL{color: yellow}
    A:link {color: yellow}
    A:visited {color: Darkgoldenrod}
    H1 {font-size: 24pt; font-family: arial}
    DIV 
    {
        font-size: 10pt;
        color: yellow
    }
-->

</STYLE> 